<div class="footer">
    <div class="container">
        <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <center>
                  <img src="/images/logo-small.png" class="img-circle" alt="the-brains">
                  <br>
                  <p class="footertext"><small>Servicios digitales Matehuala</small></p>
                  <p class="footertext">Copyright 2015</p>
                  <br>
                </center>
              </div>
        </div>
    </div>
</div>