<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sdmatehuala | {% block title %} {% endblock %}</title>
</head>
<body>
	{% include 'templates/partials/nav.twig' %}
	{% include 'templates/partials/messages.twig' %}
	{% block content %}{% endblock %}
</body>
</html>