{% extends 'templates/main.twig' %}

{% block content %}

<form class="form-horizontal" action="{{ urlFor('clients-add-post') }}" method="post">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Text Input</label>  
  <div class="col-md-4">
  <input id="nombre" name="nombre" type="text" placeholder="placeholder" class="form-control input-md">
  <span class="help-block">help</span>  
  </div>
</div>

<button type="submit">Enviar</button>

</fieldset>
</form>

{% endblock %}